body {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #262626;
    color: white;
}

.colors-topbar {
	background-color: #ff0000;
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    
}

h2 {
    margin-top: 60px;
}

.button {
    background: #575757;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background: #999999;
}

#eyedropper {
    width: 15px;
    height: 15px;
    filter: invert(1);
    margin-right: 5px;
    transform: translateY(2px);
}

.keyboard-shortcut-tip {
	width: 100%;
    text-align: center;
    color: #a3a3a3;
    font-size: 12px;
    line-height: 2;
    margin-top: 0px;
}

.keyboard-shortcut {
	background-color: black;
    border: 1px solid #999999;
    border-radius: 2px;
    padding: 2px 5px;
}